:root {
  --black: rgb(0, 0, 0);
  --white-grey: rgb(250, 230, 230);
  --dark-gray-100: rgb(49, 46, 46);
  --purpur: rgb(128, 0, 128);
  --blue-gray: rgb(128, 128, 128, 0.7);
  --white: rgb(128, 128, 128, 0.5);
  --white-blue: rgb(250, 230, 230, 0.7);
  --black-white: rgb(0, 0, 0, 0.5);

  --primary-text-color: var(--black);
  --secondary-text-color: var(--white-grey);
  --title-text-color: var(--dark-gray-100);
  --accent-color: var(--purpur);
  --title-accent-color: var(--blue-gray);
  --primary-background-color: var(--white);
  --secondary-background-color: var(--white-blue);
  --shadow-color: var(--black-white);
}
