<article><section class="container">
  <div id="info"></div>
  <div class="about">
    <h2 class="about__title">Добро пожаловать!</h2>
    <ul class="about__list">
      <li class="about__item box-1">
        <div class="about__container">
          <img
            class="about__item_img"
            src="/src/images/img/anas-diplom.jpg"
            alt="diplom"
          />
          <p class="about__item_paragraph">
            Кератиновое выпрямление - это процедура выравнивания волос.
            Именно кератин определяет будут Ваши волосы прямыми или
            вьющимися. Молекулы кератина имеют достаточно большой размер -
            им сложно проникать вглубь волоса, поэтому кератин оседает на
            его поверхности, образуя защитную плёнку. Волосы приобретают
            здоровый вид, становятся гладкими, плотными и излучают блеск.
          </p>
        </div>
        <button class="about__item_button" type="button">
          Записаться на процедуру
        </button>
      </li>
      <li class="about__item box-2">
        <div class="about__container">
          <img
            class="about__item_img"
            src="/src/images/img/ployka.jpg"
            alt="ployka"
          />
          <p class="about__item_paragraph">
            Ботокс для волос – это процедура, направленная на восстановление
            и оздоровление прядей с помощью специального коктейля из
            активных компонентов, который проникает вглубь каждого волоска.
          </p>
        </div>
        <button class="about__item_button" type="button">
          Записаться на процедуру
        </button>
      </li>
      <li class="about__item box-3">
        <div class="about__container">
          <img
            class="about__item_img"
            src="/src/images/img/fen.jpg"
            alt="fen"
          />
          <p class="about__item_paragraph">
            Реконструкция/Востановление волос - это процедура, направленная
            на лечение и восстановление локонов. Для реанимирования прядей
            используются профессиональные косметические средства с
            витаминами, керамидами, минералами и аминокислотами в составе.
          </p>
        </div>
        <button class="about__item_button" type="button">
          Записаться на процедуру
        </button>
      </li>
      <li class="about__item box-4">
        <div class="about__container">
          <img class="about__item_img" src="#" alt="" />
          <p class="about__item_paragraph">
            Детокс кожи головы - это уникальная процедура, с помощью которой
            Ваша прическа буквально преобразится. С помощью Detox, кожа
            головы глубоко очищается. Удаляются остатки использованных
            средств и выводятся опасные токсины. Исчезает воспаление и
            раздражение кожи головы. С его помощью стимулирует рост волос и
            укрепляет их.
          </p>
        </div>
        <button class="about__item_button" type="button">
          Записаться на процедуру
        </button>
      </li>
    </ul>
  </div>
</section></article>