<article>
  <section class="container">
    <div id="contacts"></div>
    <div class="contact">
      <h2 class="contact__title">Контакты</h2>
      <div class="contact__add">
        <a class="contact__link" href="viber://add?number=+380635392183"
          ><svg width="20" height="20" class="contact__icon">
            <use href="/src/images/svg/symbol-defs.svg#viber"></use></svg
          >Viber</a
        >
        <a class="contact__link" href="whatsapp://add?number=+380635392183"
          ><svg width="20" height="20" class="contact__icon">
            <use href="/src/images/svg/symbol-defs.svg#whatsapp"></use></svg
          >WhatsApp</a
        >
        <a class="contact__link" href="tg://resolve?domain=anastasiia6216"
          ><svg width="20" height="20" class="contact__icon">
            <use href="/src/images/svg/symbol-defs.svg#telegram"></use></svg
          >Telegram</a
        >
        <a
          class="contact__link"
          href="https://www.instagram.com/_hair_beauty_top_"
          ><svg width="20" height="20" class="contact__icon">
            <use href="/src/images/svg/symbol-defs.svg#instagram"></use></svg
          >Instagram</a
        >
      </div>
      <p class="contact__paragraph">
        Без выходных: с 9:00 до 20:00. Предварительная запись по указанным
        ссылкам на социальные сети.
      </p>
    </div>
  </section>
</article>
