<article>
  <section class="container">
    <h2 class="slider__title">Примеры моей работы:</h2>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img class="slider__img" src="/src/images/img/hair/hair1.jpg" />
        <div class="text__after">До</div>
        <img class="slider__img" src="/src/images/img/hair/hair1.1.jpg" />
        <div class="text__before">После</div>
      </div>

      <div class="mySlides fade">
        <img class="slider__img" src="/src/images/img/hair/hair2.jpg" />
        <div class="text__after">До</div>
        <img class="slider__img" src="/src/images/img/hair/hair2.1.jpg" />
        <div class="text__before">После</div>
      </div>

      <div class="mySlides fade">
        <img class="slider__img" src="/src/images/img/hair/hair3.jpg" />
        <div class="text__after">До</div>
        <img class="slider__img" src="/src/images/img/hair/hair3.1.jpg" />
        <div class="text__before">После</div>
      </div>

      <div class="mySlides fade">
        <img class="slider__img" src="/src/images/img/hair/hair4.jpg" />
        <div class="text__after">До</div>
        <img class="slider__img" src="/src/images/img/hair/hair4.1.jpg" />
        <div class="text__before">После</div>
      </div>

      <!-- Next and previous buttons -->
      <a class="prev">&#10094;</a>
      <a class="next">&#10095;</a>
    </div>
    <br />

    <!-- The dots/circles -->
    <div style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
    </div>
  </section>
</article>
