<article>
  <section class="container">
    <div class="materials">
      <div id="materials"></div>
      <div class="materials__container">
        <div class="materials__img_box">
          <img
            class="materials__img box__materials-1"
            src="/src/images/img/ker/ker-1.jpg"
            alt=""
          /><img
            class="materials__img box__materials-2"
            src="/src/images/img/ker/ker-2.jpg"
            alt=""
          /><img
            class="materials__img box__materials-3"
            src="/src/images/img/ker/ker-3.jpg"
            alt=""
          />
        </div>
        <div class="materials__container_title box__materials-4">
          <h2 class="materials__title">Материалы</h2>
          <p class="materials__paragraph_first">
            Для процедур используются премиум-материалы ведущих бразильских
            компаний: Zoom, Natureza, Love Potion, Felps. Какой состав будет
            использован для той или иной процедуры напрямую зависит от типа
            волос и степени их повреждения. Правильный подбор материала и
            профессиональная работа мастера - главные составляющие для
            проведения успешной процедуры и желаемого результата. Составы не
            содержат формальдегид, поэтому безопасны и могут применяться при
            беременности и во время лактации. Используемые материалы произведены
            с применением высоких технологий и производственных стандартов, а их
            состав поистине уникален, т.к. содержит в себе все необходимые
            питательные масла, экстракты и витамины.
          </p>
          <p class="materials__paragraph_second">
            Со стопроцентной уверенностью могу сказать - они действительно
            великолепны, а результат после процедур - по-настоящему волшебный и
            незабываемый.
          </p>
        </div>
      </div>
    </div>
  </section>
</article>
