<article>
  <section class="container">
    <div class="procedure" id="procedure">
      <div class="procedure__flex">
        <h2 class="procedure__title">Этапы процедуры</h2>
        <div class="procedure__flex_paragraph">
          <p class="procedure__paragraph">
            Процедуры Ботокса волос,Кератинового выпрямления и Восстановления
            волос состоят из нескольких этапов и длятся в среднем от 2-х до 4,5
            часов. Длительность процедуры напрямую зависит от длины, густоты и
            состояния волос.
          </p>
          <p class="procedure__paragraph_second">
            С примерами работ по оздоровлению и восстановлению волос Вы можете
            ознакомиться на странице
            <a href="https://www.instagram.com/_hair_beauty_top_"
              >Hair_beauty_top</a
            >
            в социальных сетях
            <a href="tg://resolve?domain=anastasiia6216">Telegram</a> или
            <a href="https://www.instagram.com/anastasiia6216">Instagram</a>
          </p>
        </div>
      </div>
      <ul class="procedure__list">
        <li class="procedure__item">
          <h3 class="procedure__item_title">1. Подготовительный этап</h3>
          <p class="procedure__item_paragraph">
            Предусматривает мытьё головы шампунем со специальным химическим
            составом, который способствует открытию кутикулы для глубокого
            проникновения активных элементов в структуру волос.
          </p>
        </li>
        <li class="procedure__item">
          <h3 class="procedure__item_title">2. Нанесение состава</h3>
          <p class="procedure__item_paragraph">
            Наносится состав, который содержит в себе коктейль питательных и
            увлажняющих веществ, обогащённых ботулоксином. Именно этот состав,
            проникая вглубь волоса, оказывает интенсивное воздействие на локоны,
            реабилитируя их.
          </p>
        </li>
        <li class="procedure__item">
          <h3 class="procedure__item_title">3. Завершающий этап</h3>
          <p class="procedure__item_paragraph">
            Главная задача завершающего этапа- запечатать полезные вещества в
            структуре волоса и предотвратить их вымывание. Тут требуется работа
            с высокой температурой специально предназначенным стайлером
            (утюжком).
          </p>
        </li>
        <li class="procedure__item">
          <h3 class="procedure__item_title">4. Финальный этап</h3>
          <p class="procedure__item_paragraph">
            Конечный этап процедуры предусматривает смывание состава и нанесение
            маски для закрытия кутикулы волоса. Процедура полностью завершена и
            Вы можете увидеть и оценить ожидаемый результат.
          </p>
        </li>
      </ul>
    </div>
  </section>
</article>
